oracles:
  - name: snpb
    url: jdbc:oracle:thin:@192.168.1.17:1521:helowin
    username: TLMP_SNPB
    password: "123456"
  - name: INV
    url: jdbc:oracle:thin:@INV
    username: TLMP_INV
    password: "123456"

tables:
  - name: bank
    load_type: full_load
    incremental_load: false
    partition: false

  - name: bus_audit
    load_type: incremental_load
    incremental_fields:
      - time_stamp
      - id
    partition: true
    partition_columns:
      - stmt_date

  - name: bus_audit_entry
    load_type: join_with_other_table
    join_rule:
      incremental_field: audit_id
      join_field: id
      join_table: bus_audit
      join_table_incremental_field: time_stamp
    partition: false